<form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="field-container">
  <h1>Create a new product</h1>
  <div class="detached-container" style="display: flex">
    <div class="field-container">
      <ng-container *ngIf="preview">
        <img class="preview" [src]="preview" alt="Product Image" />
      </ng-container>
      <input type="file" (change)="onFileSelected($event)" accept="image/*" style="display: none" #fileInput>
      <div class="drop-zone" [ngClass]="{zonesmaller: preview}" (dragover)="$event.preventDefault()" (drop)="onDrop($event)">
        <p>Drag and drop an image here</p>
        <mat-icon class="camera-icon">photo_camera</mat-icon>
      </div>
      <button mat-raised-button color="primary" type="button" (click)="fileInput.click()">Select Image</button>
    </div>
    <div class="field-container">
      <mat-form-field>
        <input matInput formControlName="name" placeholder="Name" required>
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">Is required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="manufacturer" placeholder="Manufacturer" required>
        <mat-error *ngIf="productForm.get('manufacturer')?.hasError('required')">Is required</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="width" placeholder="Width" type="number">
        <mat-error *ngIf="productForm.get('width')?.hasError('positiveNumber')">Must be a positive number</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="height" placeholder="Height" type="number">
        <mat-error *ngIf="productForm.get('height')?.hasError('positiveNumber')">Must be a positive number</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="depth" placeholder="Depth" type="number">
        <mat-error *ngIf="productForm.get('depth')?.hasError('positiveNumber')">Must be a positive number</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <input matInput formControlName="country_of_origin" placeholder="Country of Origin">
      </mat-form-field>
      
      <button mat-raised-button color="primary" type="submit" [disabled]="productForm.invalid">Add Product</button>
    </div>
  </div>
</form>