<form class="example-form" [formGroup]="userForm" (ngSubmit)="submit()">
  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="name" placeholder="Your_Username" />
    <mat-error
      *ngIf="
        userForm.controls['name'].hasError('minlength') &&
        !userForm.controls['name'].hasError('required')
      "
    >
      Username less then 4 symbols
    </mat-error>
    <mat-error *ngIf="userForm.controls['name'].hasError('required')">
      Username <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Password</mat-label>
    <input matInput formControlName="password" placeholder="Your_Password" />
    <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
      Your password less then 6
    </mat-error>
    <mat-error *ngIf="userForm.controls['name'].hasError('required')">
      Password <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    <mat-error *ngIf="userForm.controls['email'].hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Site</mat-label>
    <input formControlName="site" matInput placeholder="google.com" value="" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telephone</mat-label>
    <input
      type="tel"
      matInput
      formControlName="tel"
      placeholder="+5(55)-555-12-34"
    />
    <mat-error *ngIf="userForm.controls['tel'].hasError('phoneVal')">
      Введите телефон в формате +X(XX)-XXX-XX-XX
    </mat-error>
  </mat-form-field>

  <button
    class="button"
    type="submit"
    [disabled]="
      userForm.controls['name'].invalid || userForm.controls['password'].invalid
    "
  >
    Create
  </button>
</form>
