* {
  z-index: 1;
}
.header {
  background: linear-gradient(to right, rgb(173, 173, 255), #ff6a00, black 80%);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .leftblock {
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
  }
  a {
    text-decoration: none;
    padding: 10px;
    button {
      cursor: pointer;
      background: transparent;
      color: rgb(173, 173, 255);
      display: flex;
      align-items: center;
      border-radius: 20px;
      border: 2px rgb(173, 173, 255) solid;
      &:hover {
        background: rgb(173, 173, 255);
        color: black;
        transition: color 200ms linear;
      }
    }
  }
}
