<div class="error-container mat-app-background" *ngIf="errorService.isOpen">
  <div style="max-height: 20vh; overflow-y: auto;">
    <div class="error-bar" *ngFor="let error of errorService.errorHistory;">
      {{error}}
    </div>
  </div>
  <div class="error-buttons">
    <button mat-button (click)="errorService.clear()">Clear errors</button>
    <button mat-button (click)="errorService.isOpen = false">Close</button>
  </div>
</div>
<div class="header">
  <div>
    <button class="leftblock" routerLink="/">
      <mat-label>Workshop</mat-label>
      <mat-label>#3</mat-label>
    </button>
  </div>
  <mat-label class="welcome" *ngIf="!loginVisible()"
    >Welcome, {{ username }}!</mat-label
  >
  <a routerLink="/login" *ngIf="loginVisible()">
    <button>Login</button>
  </a>
  <div style="display: flex; align-items: center">
    <button mat-icon-button matTooltip="Show errors" (click)="errorService.open()">
      <mat-icon>error</mat-icon>
    </button>
    <a *ngIf="!loginVisible()">
      <button (click)="logout()" routerLink="/login">Logout</button>
    </a>
  </div>
</div>
<router-outlet></router-outlet>
