<div style="position: absolute; z-index: 3; width: 100%;">
  <div class="error-bar" *ngFor="let error of errorService.errorHistory;">
    {{error}}
  </div>
  <button *ngIf="errorService.errorHistory.length > 0" mat-raised-button style="border: 2px red solid"
  (click)="errorService.clear()">Clear logs</button>
</div>
<div class="header">
  <div>
    <button class="leftblock" routerLink="/">
      <mat-label>Workshop</mat-label>
      <mat-label>#3</mat-label>
    </button>
  </div>
  <mat-label class="welcome" *ngIf="!loginVisible()"
    >Welcome, {{ username }}!</mat-label
  >
  <a routerLink="/login" *ngIf="loginVisible()">
    <button>Login</button>
  </a>
  <a *ngIf="!loginVisible()">
    <button (click)="logout()" routerLink="/login">Logout</button>
  </a>
</div>
<router-outlet></router-outlet>
