<div class="main" *ngIf="!getToken()">
  <div *ngIf="!getRegistration()"><p>Login</p></div>
  <div *ngIf="getRegistration()"><p>Registration</p></div>
  <div class="inner">
    <div *ngIf="getError().length">
      Error:{{getError()}}
      <br/>
    </div>

    <form [formGroup]="loginForm" class="main-form">
      <mat-form-field appearance="outline">
        <mat-label for="username">Username:</mat-label>
        <input matInput id="username"
               formControlName="username"
               placeholder="username" required>
        <mat-error *ngIf="username?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="username?.errors?.['pattern']">Username must contain only letters</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline">
        <mat-label for="password">Password:</mat-label>
        <input matInput id="password"
               formControlName="password"
               placeholder="password"
               type="password" required>

        <mat-error>You must enter a value</mat-error>
      </mat-form-field>
      <br/>
      <mat-form-field appearance="outline" *ngIf="getRegistration()">
        <mat-label for="passwordRepeat">Password:</mat-label>
        <input matInput id="passwordRepeat"
               formControlName="passwordRepeat"
               placeholder="passwordRepeat" required>
        <mat-error>You must enter a value</mat-error>
      </mat-form-field>
      <br/>
      <section class="example-section">
        <mat-checkbox class="example-margin" (change)="setRegistration()">Registration</mat-checkbox>
      </section>
      <br/>
      <button *ngIf="!getRegistration()" mat-raised-button color="primary" class="add-button" (click)="login()">Log in</button>
      <button *ngIf="getRegistration()" mat-raised-button color="primary" class="add-button" (click)="login()">Registration</button>
    </form>
    <br/>
  </div>
</div>

<div *ngIf="getToken() && !getRegistration()"  class="main">
  <p>User log in!</p>
</div>
