<a mat-button color="primary" routerLink="/users">Back</a>
<form class="example-form" [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <h1>Edit user</h1>

  <div class="field-container">
    <input
      type="file"
      (change)="onFileSelected($event)"
      accept="image/*"
      style="display: none"
      #fileInput
    />
    <div
      *ngIf="preview"
      class="drop-zone"
      (dragover)="$event.preventDefault()"
      (drop)="onDrop($event)"
    >
      <img class="preview" [src]="preview" alt="Product Image" />
      <p>Drag and drop an image here</p>
      <mat-icon style="font-size: 15vh; width: fit-content; height: fit-content"
        >photo_camera
      </mat-icon>
    </div>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="fileInput.click()"
    >
      Select Image
    </button>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>Username</mat-label>
    <input matInput formControlName="username" placeholder="Your_Username" />
    <mat-error
      *ngIf="
        userForm.controls['username'].hasError('minlength') &&
        !userForm.controls['username'].hasError('required')
      "
    >
      Username less then 4 symbols
    </mat-error>
    <mat-error *ngIf="userForm.controls['username'].hasError('required')">
      Username <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Email</mat-label>
    <input
      type="email"
      matInput
      formControlName="email"
      placeholder="Ex. pat@example.com"
    />
    <mat-error *ngIf="userForm.controls['email'].hasError('email')">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Site</mat-label>
    <input formControlName="site" matInput placeholder="google.com" />
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Telephone</mat-label>
    <input
      type="tel"
      matInput
      formControlName="phone"
      placeholder="+5(55)-555-12-34"
    />
    <mat-error *ngIf="userForm.controls['phone'].hasError('isPhoneValid')">
      Please enter correct phone format : +X(XX)-XXX-XX-XX
    </mat-error>
  </mat-form-field>

  <div class="button-container">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="userForm.invalid || !this.userForm.dirty"
    >
      Edit User
    </button>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="userForm.patchValue(initialUser)"
    >
      Reset
    </button>
  </div>
</form>
