form {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    * {
        min-width: 30%;
    }
}

.button-container {
    display: flex;
    justify-content: space-between;
}

mat-form-field {
    margin-bottom: 8px;
}

mat-error {
    color: #ff0000;
    font-weight: bold;
    font-size: 12px;
}
  