<div class="body">
  <div class="main-form">
    <h3><b>Add new user</b></h3>
    <div *ngIf="error.length">
      Error:{{error}}
      <br/>
    </div>
    <form class="m-form" [formGroup]="userForms">
      <mat-form-field appearance="outline">
        <mat-label for="username">Username:</mat-label>
        <input matInput id="username" required
               formControlName="username"
               placeholder="username">
        <mat-error *ngIf="userForms.get('username')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.get('username')?.errors?.['invalidName']">Incorrect username</mat-error>
        <mat-error *ngIf="userForms.get('username')?.errors?.['toShort']">Username is to short</mat-error>
        <mat-error *ngIf="userForms.get('username')?.errors?.['toLong']">Username is to long</mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field appearance="outline">
        <mat-label for="password">Password:</mat-label>
        <input matInput id="password" required
               placeholder="password"
               formControlName="password"
               type="password">

        <mat-error *ngIf="userForms.get('password')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.get('password')?.errors?.['invalidLength']">Password is to short</mat-error>
        <mat-error *ngIf="userForms.get('password')?.errors?.['invalidPassword']">Value must contain digits and letters</mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field appearance="outline">
        <mat-label for="passwordRepeat">Repeat Password:</mat-label>
        <input matInput id="passwordRepeat" required
               placeholder="passwordRepeat"
               formControlName="passwordRepeat"
               type="password">
        <mat-error *ngIf="userForms.get('passwordRepeat')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.get('passwordRepeat')?.errors?.['invalidPassword']">Value must contain digits and letters</mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field appearance="outline">
        <mat-label for="email">Email:</mat-label>
        <input matInput id="email" required
               placeholder="email"
               formControlName="email"
               type="email">

        <mat-error *ngIf="userForms.get('email')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.get('email')?.errors?.['invalidEmail']">Value doesn't look like an email</mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field appearance="outline">
        <mat-label for="phone">Phone:</mat-label>
        <input matInput id="phone" required
               placeholder="phone"
               formControlName="phone"
               type="phone">

        <mat-error *ngIf="userForms.get('phone')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.get('phone')?.errors?.['invalidPhone']">Incorrect phone</mat-error>
        <mat-error *ngIf="userForms.get('phone')?.errors?.['invalidLength']">Invalid length</mat-error>
      </mat-form-field>
      <br/>

      <mat-form-field appearance="outline">
        <mat-label for="site">Site:</mat-label>
        <input matInput id="site" required
               placeholder="site"
               formControlName="site"
               type="site">

        <mat-error *ngIf="userForms.get('site')?.errors?.['required']">You must enter a value</mat-error>
        <mat-error *ngIf="userForms.invalid">Invalid site</mat-error>
      </mat-form-field>
      <br/>
      <div class="buttons">
        <button mat-raised-button color="primary" class="add-button" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" class="add-button" (click)="newUser()" *ngIf="!userForms.invalid">Create</button>
        <button mat-flat-button disabled *ngIf="userForms.invalid">Create</button>
      </div>
    </form>
  </div>
</div>
