<section>
  <form class="form-box" [formGroup]="date" (ngSubmit)="onSubmit()">
    <h2>Login</h2>
    <mat-form-field>
      <mat-icon matSuffix class="material-symbols-outlined">mail</mat-icon>
      <mat-label>Enter your username</mat-label>
      <input matInput placeholder="maria" formControlName="username" />
      <mat-error *ngIf="date.controls['username'].invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-icon matSuffix class="material-symbols-outlined">lock</mat-icon>
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="password123" formControlName="password" />
      <mat-error *ngIf="date.controls['password'].invalid">{{
        getErrorPass()
      }}</mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="date.invalid">Sign in</button>
  </form>
</section>
