<section>
  <div class="form-box">
    <h2>Login</h2>
    <mat-form-field>
      <mat-icon matSuffix class="material-symbols-outlined">mail</mat-icon>
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="email@example.com" [formControl]="email" />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-icon matSuffix class="material-symbols-outlined">lock</mat-icon>

      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="password123" [formControl]="password" />
      <mat-error *ngIf="password.invalid">{{ getErrorPass() }}</mat-error>
    </mat-form-field>
    <button type="submit" [disabled]="password.invalid && email.invalid">
      Sign in
    </button>
  </div>
</section>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0"
/>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,300,0,0"
/>
